.form-group ul {
    margin-bottom: 0.5rem;
}

.input-group {
    
    .input-group-append .btn,
    .input-group-prepend .btn {
        padding: 0.375rem 0.75rem;
        line-height: 1.6;
    }

    & + .input-group {
        margin-top: 10px;
    }
}

.custom-file-control {
    overflow: hidden;

    &:lang(en)::after {
        content: attr(data-content);
    }
}

.card {
    font-size: 12pt;
    max-width: 900px;
    margin: 0 auto;

    .card-img-top,
    .card-img-overlay {
        max-height: 200px;
    }

    .card-header,
    .card-img-overlay,
    .card-block,
    .card-footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .card-subtitle {
        margin-bottom: 30px;
    }
}



.card.multi-step {

    p {
        margin-bottom: 2rem;
    }

    .card-header {
        background: none;
        padding-bottom: 20px;
        border: 0;

        .card-header-pills {
            justify-content: space-around;
            margin: 0;
        
            li.nav-item {
                flex-grow: 1;
                text-align: center;
                
                .nav-link {
                    background: none;
                    border-radius: 0;
                    border-bottom: 2px solid #ddd;
                    font-size: 0.9em;
                    color: #aaa;

                    &.visited {
                        //
                    }

                    &.active {
                        font-weight: bold;
                        color: #4b2e84;
                        border-bottom: 2px solid #4b2e84;
                    }
                }
            }
        }
    }
}
