.sidebar-left li.active {
    background: white;

    & > .nav-link {
        padding-bottom: 5px;
    }

    ul {
        margin-left: 28px;
        padding-bottom: 0.5rem;

        li {
            border: 0;

            .nav-link {
                padding: 5px 0;
                text-transform: none;
                font-weight: lighter;

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}
